.aboutus {
    margin: 0 auto;
    width: 100%;
    margin-left: 0;
    color: white;
    font-family: "Nunito Sans";
    display: flex;
    flex-direction: row;
}

.aboutus-text-area {
    width: 45%;
    font-size: 1.5rem;
}

.aboutus-text {
    margin-top: 3rem;
    font-size: 1.5rem;
}

.second-paragraph {
    margin-top: 2rem; 
}

.bold {
    font-weight: 800;
}

.aboutus-picture-area {
    width: 45%;
    margin-right: 0;
    margin-left: auto;
}

.aboutus-picture {
    width: 100%;
}