/* .home-background {
    background-image: linear-gradient(#FFE58A, #FFCE61, #EE6C45, #BF3475, #50366F, #1F214D);
    width: 100%;
    height: 100%;
} */

.name-container {
    background: url(../Assets/coastal-city1.jpeg) no-repeat center center;
  background-size:100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.name {
    /* font-size: 18rem; */
    font-size: 20vw;
    font-family: Nahista;
    color: white;
    color: transparent;
    -webkit-text-stroke: 8px white;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.player-area {
    margin-top: 5rem;
    width: 100%;
}

.player {
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    height: 3rem;
    width: 3rem;
    filter:invert(1);
    margin: 1rem;
    cursor: pointer;
}

.section {
    margin-top: 4rem !important;
}


.home-content {
    display: flex;
    flex-direction: row;
}

.mrtime-picture {
    /* width: 25rem; */
    height: 32rem;
    width: 24rem;
    margin-left: auto;
    margin-right: auto;
    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 0px 1000px 0px white;
    /* border: 2px solid black; */
    /* border-radius: 8px; */
    border-radius: 12px;
}

.album-title {
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5rem;
}

.out-now {
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin-right: auto;
    margin-left: auto;
}

.home-column1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-column2 {
    width: 50%;
    display: flex;
}

.home-spotify-player {
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    height: 32rem;
    width: 383px;
    /* padding-left: 4rem; */
    /* padding-right: 4rem; */
}